/* small device style  */

@media screen and (max-width: 576px) {
    .navbar, .nav-link, .features {
        flex-direction: column;
        gap: 20px;
    }
    .nav-item{
        font-weight: 600;
        font-size: 1.6rem;
    }
    .itme-img-contaner, .facts-contaner{
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 115px;
    }
    .facts-contaner{
        justify-items: center;
    }
    .some-title-contaner{
        justify-content: center;
        align-items: center;
    }
}



/* mediam device style  */
@media screen and (min-width: 576px) and (max-width:992px) {
    .features{
        flex-direction: column;
    }
    .facts-contaner{
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 115px;
    } 
    .some-title-contaner{
        justify-content: center;
        align-items: center;
    }
    }
