@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}



/* shared styles */
.display-flex{
    display: flex;
}
.color-pramiry{
    color: #FF900E;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
/* dark-02 */
.text-gray{
    color: #424242;
}
/* dark-03 */
.text-light-gray{
    color: #727272;
}
/* header stylse */
.bg-light{
    background-color: #ff8f0e10;
}
.button{
    color:#FFFFFF ;
    background-color: #FF900E;
    padding: 20px 25px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 1.25rem;
    margin: 15px auto;
    margin-bottom: 15px;
}
.button:hover{
    cursor: pointer;
    background-color: #FFFFFF;
    color: #FF900E;
}

.button-badch-h{
    font-size: 3rem;
}
.badch-button{
    margin: -50px -50px;
}

.hover:hover{
    cursor: pointer;
    background-color: #918e8e;
    color: #FF900E;
}


/* navbar related styles */
.navbar{
    justify-content: space-around;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-left: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.brand{
    font-weight: 700;
    font-size: 2.8rem;
    margin: 15px 0px;
}
.banner-content{
    max-width: 850px;
    margin: 10px auto;
    text-align: center;
}
.banner-title{
    font-weight: 700;
    font-size: 3.5rem;
    margin: 5px auto;
}
.banner-img{
    width: 100%;
}
/* main section style */
main > section{
    margin-top: 130px;
}

.itme-img-contaner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.features{
    align-items: center;
    gap: 73px;
}
.features-contaner{
    max-width: 530px;
}
.features-img{
    border: 2px solid #FF900E;
    border-radius: 10px;
}
.features-title{
    font-size: 3rem;
    font-weight: 700;
}
#quick-list{
    font-weight: 500;
}

/* Features & Enjoy style */

#features-broder{
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}
.f-enjoy-title{
    font-weight: 600;
    font-size: 1.25rem;
}
.f-enjoy-card{
    box-shadow: 0 4px 30px 0 #e8caa6;
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
}
.features-enjoy-content{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 70px;
}
.features-enjoy{
    gap: 70px;
}
.f-enjoy-title{
    margin: ;
}


/* some facts section style */
.facts-contaner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    max-width: 1440px;
    justify-content: center;
}
.facts-card{
    border: 2px solid #FF900E;
    height: 240px;
    width: 240px;
    border-radius: 10px;
    padding: 45px 35px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.fact-namber{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-name{
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #727272;
}

.some-contant{
    max-width: 540px;
    margin-top: 24px;
    margin-bottom: 100px;
}
.some-title{
    font-weight: 700;
    font-size: 3rem;
}

/* sponsor style */
.sponspor-info{
    max-width: 540px;
    margin: 30px auto;
}
.sponsor-title{
    font-size: 2.8rem;
    font-weight: 800;
}
.sponspor-logo{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    filter: grayscale(100%);
   
}

/* footer style */
.footer-contaner{
    margin: 50px auto;
}
.footer{
    max-width: 1440px;
    margin: 0px auto;
    text-align: center;
    background-color: #e8caa6;
    padding: 40px;
}

/* @media screen and(max-width: 576px) {
    .navbar, .nav-link {
        display: flex;
        flex-direction: column;
    }
} */